.products-item {

  &--product-of-week {
    margin-bottom: 70px;
  }

  &--small {
    margin-bottom: 32px;
  }
}

.products-item__wrapper {
  display: flex;
  flex-direction: column;

  &--product-of-week {
    .container();
  }

  &--small {

    width: 260px;
    margin: 0 auto;
    border: 1px solid #ededed;
  }
}

.products-item__title-wrapper {
  margin-bottom: 8px;
}

.products-item__title {
  margin-bottom: 5px;

  &--product-of-week {
    font-size: 25px;
    line-height: 1.2;
  }

  &--small {
    width: 204px;
    margin-bottom: -8px;
    font-size: 17px;
    line-height: 1.4;
  }
}

.products-item__product-of-week {
  font-family: @open-sans-bold;
  font-size: 17px;
  text-transform: uppercase;
  color: @accent-color;
}

.products-item__descr-wrapper {

  &--small {
    display: flex;
    flex-direction: column;
    padding: 0 27px;
    margin-top: -10px;
  }
}

.products-item__descr {
  margin-bottom: 28px;
  line-height: 1.6;
}

.products-item__property-list {
  display: flex;
  flex-direction: column;
}

.products-item__property-item {
  display: flex;
  min-height: 25px;
  margin-bottom: 15px;
  padding-top: 1.2;
  padding-bottom: 1.2;
  border-bottom: 1px solid #ececec;
}

.products-item__property-name {
  width: 95px;
}

.products-item__property-value {
  margin-left: 0;
}

.products-item__property {
  font-size: 13px;
  line-height: 2.3;
}

.products-item__photo {
  margin-bottom: 20px;

  &--medium,
  &--big {
    display: none;
  }
}

.products-item__actions {
  display: flex;

  &--product-of-week {
    flex-direction: column;
    align-items: center;
  }

  &--small {
    position: relative;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 27px;

    &::before {
      content: '';
      position: absolute;
      top: -21px;
      width: 100%;
      height: 1px;
      background-color: #ededed;
    }
  }
}

.products-item__price {

  font-family: @open-sans-bold;

  &--product-of-week {
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 1.4;
  }

  &--small {
    line-height: 1.6;
  }
}

.products-item__add-to-cart {
  align-self: flex-start;
}

@media @tablet-width {

  .products-item {

    &--product-of-week {
      margin-bottom: 120px;
    }

    &--small {
      margin-bottom: 52px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .products-item__wrapper {
    position: relative;

    &--small {
      .container();
      flex-direction: row;
    }
  }

  .products-item__title-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 28px;
  }

  .products-item__title {

    &--product-of-week {
      margin-left: -5px;
      font-size: 43px;
      line-height: 1.16;
    }

    &--small {
      width: 240px;
      margin-top: 32px;
      margin-bottom: -12px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .products-item__product-of-week {
    width: 90px;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom: 8px;
    text-align: center;
    line-height: 1;
  }

  .products-item__descr {
    margin-bottom: 47px;
    font-size: 17px;
    line-height: 1.76;
  }

  .products-item__descr-wrapper {

    &--product-of-week {
      width: 290px;
    }

    &--small {
      width: 280px;


    }
  }

  .products-item__property-list {
    margin-bottom: 45px;
  }

  .products-item__property {
    font-size: 15px;
  }

  .products-item__image {

    &--product-of-week {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &--small {
      width: 334px;
    }
  }

  .products-item__photo {
    margin-bottom: 0;

    &--small {
      display: none;
    }

    &--medium {
      display: block;
    }
  }

  .products-item__actions {

    &--small {
      margin-top: auto;
      margin-bottom: 28px;
    }
  }

  .products-item__price {

    &--product-of-week {
      margin-bottom: 33px;
      font-size: 20px;
      line-height: 1.2;
    }

    &--small {
      padding-left: 5px;
      font-size: 17px;
      line-height: 1.4;
    }
  }
}

@media @desktop-width {

  .products-item {

    &--product-of-week {
      margin-bottom: 156px;
    }

    &--small {
      margin-right: 50px;
      margin-bottom: 0;
    }

    &--small:nth-child(3n) {
      margin-right: 0;
    }
  }

  .products-item__wrapper {

    &--small {
      flex-direction: column;
      width: 316px;
    }
  }

  .products-item__title-wrapper {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .products-item__title {

    &--product-of-week {
      order: 2;
      font-size: 53px;
      line-height: 1.08;
    }

    &--small {
      font-size: 20px;
    }
  }

  .products-item__product-of-week {
    align-self: flex-end;
    order: 1;
    margin-right: 45px;
    margin-left: 0;
    padding-bottom: 10px;
    padding-left: 37px;
  }

  .products-item__descr {
    margin-bottom: 60px;
  }

  .products-item__descr-wrapper {

    &--product-of-week {
      margin-left: 175px;
    }

    &--small {
      flex-basis: 200px;
      width: 262px;
    }
  }

  .products-item__property-list {
    margin-bottom: 97px;
  }

  .products-item__image {

    &--product-of-week {
      z-index: -1;
    }

    &--small {
      width: 316px;
      margin-bottom: 4px;
    }
  }

  .products-item__photo {

    &--medium {
      display: none;
    }

    &--big {
      display: block;
    }
  }

  .products-item__actions {

    &--small {
      margin-bottom: 25px;
    }
  }

  .products-item__price {

    &--small {
      padding-left: 0;
    }
  }
}
