.video-block {
  margin-bottom: 58px;
}

.video-block__wrapper {
  .container(260px; 0);
  display: flex;
  flex-direction: column;
  outline: 1px solid #ededed;
}

.video-block__player {
  position: relative;
  width: 260px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-image: url('../img/video-block/video-mobile@1x.jpg');
  background-size: 260px auto;

  @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
    background-image: url('../img/video-block/video-mobile@2x.jpg');
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100.678px;
    height: 76.891px;
    transform: translate(-50.4px, -38.5px);
    background-image: url(../img/video-block/icon-play.svg);
    transition: all 0.2s ease-out;
  }

  &:hover::before {
    transform: translate(-50.4px, -38.5px) scale(1.2);
  }

  &:active::before {
    transform: translate(-50.4px, -38.5px) scale(0.8);
    opacity: 0.3;
  }
}

.video-block__title {
  position: relative;
  font-size: 17px;
  line-height: 1.4;

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 32px;
    width: 32px;
    height: 32px;
    background-image: url('../img/video-block/icon-video.svg');
  }
}

.video-block__photo {

  &--medium,
  &--big {
    display: none;
  }
}

.video-block__descr {
  margin-bottom: -3px;
}

@media @mobile-width-only {
  .video-block__wrapper {
    position: relative;
  }

  .video-block__player {
    position: absolute;
    top: 93px;
  }

  .video-block__title {
    margin-top: 22px;
    margin-bottom: 170px;
    padding-left: 90px;
  }

  .video-block__descr {
    padding: 35px;
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 1.8;
  }

  .video-block__btn.btn {
    width: 188px;
    margin-bottom: 33px;
  }
}

@media @tablet-width {
  .video-block__wrapper {
    .container(668px; 0);
  }

  .video-block__player {
    width: 668px;
    min-height: 455px;
    background-image: url('../img/video-block/video-tablet@1x.jpg');
    background-size: 668px auto;

    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
      background-image: url('../img/video-block/video-tablet@2x.jpg');
    }
  }

  .video-block__photo {

    &--small {
      display: none;
    }

    &--medium {
      display: block;
    }
  }

  .video-block__descr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 41px;
    transition: all 0.1s ease-out;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .video-block__title {
    padding-left: 65px;
    font-size: 20px;
    line-height: 1.2;

    &::before {
      top: -5px;
      left: 0px;
    }
  }

  .video-block__descr {
    width: 618px;
    margin-bottom: 35px;
    padding: 0;
    line-height: 2;
  }

  .video-block__btn {
    width: 100%;
  }
}

@media @desktop-width {
  .video-block {
    margin-bottom: 100px;
  }

  .video-block__wrapper {
    .container(1050px; 0);
    flex-direction: row;
  }

  .video-block__player {
    width: 682px;
    background-image: url('../img/video-block/video-desktop@1x.jpg');
    background-size: 682px auto;

    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
      background-image: url('../img/video-block/video-desktop@2x.jpg');
    }
  }

  .video-block__descr-wrapper {
    padding-top: 27px;
    padding-right: 55px;
    padding-left: 80px;
  }

  .video-block__title {
    width: 100px;
    padding-top: 50px;
    padding-left: 0;
  }

  .video-block__descr {
    width: 233px;
    margin-bottom: 50px;
  }
}
