.catalog {
  margin-top: 50px;
}

.catalog__wrapper {
  .container(260px);
  display: flex;
  flex-direction: column;
}

@media @tablet-width {
  .catalog {
    margin-top: 104px;
    margin-bottom: 50px;
  }

  .catalog__wrapper {
    .container(668px; 50px);
  }
}

@media @desktop-width {
  .catalog {
    margin-top: 155px;
    margin-bottom: 60px;
  }

  .catalog__wrapper {
    .container(1050px; 0);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
