.page-content__title-wrapper {
  border-top: 1px solid #ececec;

  &--background-image {
    background-color: #fafafa;
  }

  &--background-grey {
    margin-bottom: -20px;
    background-color: #f1f1f1;
  }
}

.page-content__title {
  width: 255px;
  margin: 0 auto;
  padding-right: 38px;
  padding-left: 38px;
  font-size: 27px;
  line-height: 1.1;
  text-align: center;

  &--background-image {
    min-height: 210px;
    padding-top: 70px;
    color: @title-color;
    background: #f1f1f1 url('../img/page-content/hero-mobile@1x.jpg') no-repeat;
    background-position: center -20px;
  }

  @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
      .page-content__title {

        &--background-image {
          background: url('../img/page-content/hero-mobile@2x.jpg') no-repeat;
          background-size: 575px auto;
          background-position: center -20px;
      }
    }
  }

  &--background-grey {
    min-height: 107px;
    padding-top: 70px;
  }
}

@media @tablet-width {
  .page-content__title-wrapper {
    position: relative;
    margin-top: -60px;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      z-index: 5;
      width: 100%;
      height: 24px;
      background-image: url('../img/md-zigzag-fill.svg');
    }
  }

  .page-content__title {
    width: 514px;
    padding-right: 127px;
    padding-left: 127px;
    font-size: 43px;
    line-height: 1.16;

    &--background-image {
      min-height: 590px;
      padding-top: 155px;
      background: url('../img/page-content/hero-desktop@1x.jpg') no-repeat;
      background-position: center 0;

      @media (min-resolution: 144dpi),
              (min-resolution: 1.5dppx) {
        background: url('../img/page-content/hero-desktop@2x.jpg') no-repeat;
        background-size: 1150px auto;
        background-position: center 0;
      }

      br {
        display: none;
      }
    }

    &--background-grey {
      min-height: 136px;
      padding-top: 95px;
      padding-left: 137px;
    }
  }
}

@media @desktop-width {
  .page-content__title-wrapper {

    &::after {
      bottom: -15px;
      height: 34px;
      background-image: url('../img/bg-zigzag-fill.svg');
    }
  }

  .page-content__title {
    width: 750px;
    padding-right: 200px;
    padding-left: 202px;
    font-size: 53px;
    line-height: 1.1;

    &::after {
      width: 34px;
    }

    &--background-grey {
      min-height: 160px;
      border-top: 100px;
    }
  }
}
