.form {

  &--popup {
    width: 260px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 45px;
  }

  &--order {
    .container();
    display: flex;
    flex-direction: column;
  }
}

.form__fieldset {
  border: none;
}

.form__title {
  width: 150px;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.form__descr {
  font-size: 13px;
  line-height: 1.8;
}

.form__fieldset-wrapper {
  display: flex;
  margin-bottom: 20px;

  &--stretched {
    justify-content: space-between;
    align-self: stretch;
  }

  &--full-width {
    flex-direction: column;
  }
}

.form__fieldset-title {
  position: relative;
  z-index: 2;
  margin: 0;
  font-family: @open-sans-bold;
  font-size: 17px;
  text-transform: uppercase;
  color: @accent-color;

  &::after {
    content: '';
    position: relative;
    top: -12px;
    z-index: 1;
    display: block;
    border-bottom: 1px solid @accent-color;
  }
}

.form__list {

  &--medium {
    display: flex;
    flex-direction: column;
  }
}

.form__item {

  &--small {
    display: flex;
    width: 78px;
    height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #ececec;
  }

  &--medium {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.form__radio {
  display: none;
}

.form__checkbox {
  display: none;
}

.form__input {
  height: 48px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1;
  border: none;
  border-bottom: 2px solid @title-color;
  outline-color: transparent;
}

.form__textarea {
  padding: 16px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1;
  border: 2px solid @title-color;
  outline-color: transparent;
}

.form__label {
  font-family: @open-sans-bold;
  font-size: 17px;

  &--small {
    margin: auto;
  }

  &--radio,
  &--checkbox {
    position: relative;
    padding-left: 64px;

    &::before {
      content: '';
      position: absolute;
      top: -10px;;
      left: 0;
      width: 35px;
      height: 35px;
      border: 2px solid @title-color;
    }
  }

  &--radio {

    &::before {
      border-radius: 50%;
    }
  }
}

.form__required-fields {
  font-size: 14px;
}

@media @tablet-width {

  .form {

    &--popup {
      width: 360px;
      padding-right: 103px;
      padding-left: 103px;
    }
  }

  .form__title {
    width: 360px;
    font-size: 30px;
    line-height: 1.9;
  }

  .form__fieldset-wrapper {

    &--full-width {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 50px;
    }

    &--full-width:last-child {
      justify-content: space-between;
    }
  }

  .form__fieldset-title {
    width: 167px;

    &::after {
      border: none;
    }
  }

  .form__list {

    &--medium {
      align-items: stretch;
      flex-grow: 1;
      width: 500px;
    }

    &--column {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .form__item {

    &--small {
      width: 108px;
    }

    &--medium {
      flex-direction: row;
      align-items: baseline;
    }

    &--column {
      flex-basis: 250px;
    }
  }

  .form__label {

    &--medium {
      margin-right: 20px;
    }
  }

  .form__input,
  .form__textarea {
    flex-grow: 1;
  }

  .form__required-fields {
    order: 2;
  }

  .form__btn {
    order: 1;
  }
}

@media @desktop-width {

  .form__fieldset-wrapper--full-width {
    margin-right: 100px;
  }
}
