.form {

  &--popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 260px;
    height: 285px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 35px;
    border: 1px solid #c7c7c7;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }

  &--popup-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--order {
    margin-top: 43px;
    margin-bottom: 56px;
  }
}

.form__wrapper {
  .container(260px; 30px);
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  margin-bottom: 24px;
  padding: 0;
  border: none;


  &--medium-margin {
    margin-bottom: 25px;
  }

  &--email {
    margin-bottom: 30px;
  }

  &--textarea {
    margin-bottom: 28px;
  }

  &--stretched {
    width: 100%;
    margin-bottom: 0;
  }
}

.form__title {
  width: 155px;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.form__descr-wrapper {
  .container(260px);
  margin-bottom: -10px;
  font-size: 13px;
  line-height: 1.84;
}

.form__fieldset-wrapper {
  display: flex;
  margin-bottom: 5px;

  &--stretched {
    justify-content: space-between;
    align-self: stretch;
  }

  &--full-width {
    .container(260px);
    position: relative;
    flex-direction: column;
  }
}

.form__fieldset-title {
  font-family: @open-sans-bold;
  font-size: 17px;
  text-transform: uppercase;
  color: @accent-color;
}

.form__list {

  &--medium {
    display: flex;
    flex-direction: column;
  }
}

.form__item {

  &--small {
    display: flex;
    width: 78px;
    height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &--medium {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
  }

  &--column {
    margin-bottom: 42px;
  }

  &--medium:last-child {
    margin-bottom: 0;
  }
}

.form__radio {
  display: none;

  &:checked + .form__label--radio::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: @accent-color;
    border-radius: 50%;
  }

  &:disabled + .form__label--radio::before {
    border-color: #e4e4e4;
  }

  &:checked + .form__label--small {
    border-color: @accent-color;
  }
}

.form__checkbox {
  display: none;

  &:checked + .form__label--checkbox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 8px;
    height: 16px;
    border-right: 2px solid @title-color;
    border-bottom: 2px solid @title-color;
    transform: rotate(45deg);
  }

  &:disabled + .form__label--checkbox::before {
    border-color: #e4e4e4;
  }
}

.form__input {
  height: 48px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1;
  border: none;
  border-bottom: 2px solid @title-color;
  outline-color: transparent;

  &:hover,
  &:focus {
    border-bottom: 2px solid @accent-color;
  }

  &:hover + .form__icon-phone,
  &:hover + .form__icon-mail,
  &:focus + .form__icon-phone,
  &:focus + .form__icon-mail {
    fill: @accent-color;
  }
}

.form__icon-phone,
.form__icon-mail {
  content: '';
  position: absolute;
  right: -5px;
  bottom: 12px;
  fill: rgba(0, 0, 0, 0.2);
}

.form__textarea {
  height: 105px;
  margin-top: -12px;
  margin-bottom: 0;
  padding: 16px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1;
  border: 2px solid @title-color;
  outline-color: transparent;

  &:hover,
  &:focus {
    border-color: @accent-color;
  }
}

.form__label {
  font-family: @open-sans-bold;
  font-size: 17px;

  &--small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
    }

    &:active {
      border-color: @accent-color;
    }
  }

  &--radio,
  &--checkbox {
    position: relative;
    padding-left: 64px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: -10px;;
      left: 0;
      width: 35px;
      height: 35px;
      border: 2px solid @title-color;
    }

    &:hover::before {
      border-color: @accent-color;
    }
  }

  &--radio {

    &::before {
      border-radius: 50%;
    }
  }
}

.form__actions-wrapper {
  .container(260px);
  display: flex;
  flex-direction: column;
}

.form__btn {
  outline-color: transparent;
}

.form__required-fields {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 14px;
}

@media @mobile-width-only {
  .form__fieldset-title {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding-right: 27px;
    vertical-align: top;
    text-align: center;
    background-color: white;
  }

  .form__fieldset-title-wrapper {
    margin-bottom: 15px;

    &::after {
      content: '';
      position: relative;
      top: -27px;
      z-index: 1;
      display: block;
      border-bottom: 1px solid @accent-color;
    }

    &--small-margin {
      margin-bottom: 8px;
    }

    &--tiny-margin {
      margin-top: 6px;
      margin-bottom: 2px;
    }

    &--tiny-margin::after {
      top: -10px;
    }

    &--textarea-margin {
      margin-bottom: 37px;
    }

    &--textarea-margin::after {
      top: -10px;
    }
  }
}

@media @tablet-width {
  .form {

    &--popup {
      width: 360px;
      padding-right: 103px;
      padding-left: 103px;
    }

    &--order {
      margin-top: 88px;
      margin-bottom: -18px;
    }
  }

  .form__wrapper {
    .container(668px; 50px);
  }

  .form__descr-wrapper {
    .container(668px; 50px);
    margin-bottom: 50px;
    font-size: 17px;
  }

  .form__title {
    width: 365px;
    font-size: 30px;
    line-height: 1.9;
  }

  .form__fieldset {
    margin-bottom: 69px;

    &--stretched {
      margin-bottom: 0;
    }

    &--medium-margin {
      margin-bottom: 46px;
    }

    &--small-margin {
      margin-bottom: 48px;
      padding-top: 50px;
      padding-bottom: 10px;
    }

    &--tiny-margin {
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    &--email {
      margin-bottom: 56px;
      padding-bottom: 50px;
    }

    &--textarea {
      margin-bottom: 55px;
    }

    &--grey {
      background-color: #f1f1f1;
    }
  }

  .form__fieldset-wrapper {

    &--full-width {
      .container(668px, 50px);
      flex-direction: row;
      align-items: baseline;
    }

    &--full-width:last-child {
      justify-content: space-between;
    }
  }

  .form__fieldset-title {
    display: block;
    width: 167px;

    &::after {
      border: none;
    }
  }

  .form__list {

    &--medium {
      align-items: stretch;
      flex-grow: 1;
      width: 530px;
    }

    &--column {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .form__item {

    &--small {
      width: 108px;
    }

    &--medium {
      flex-direction: row;
      align-items: baseline;
      margin-top: 5px;
      margin-bottom: 55px;
    }

    &--column {
      flex-basis: 240px;
      margin-right: 21px;
      margin-bottom: 53px;
    }

    &--column:nth-child(2n+2) {
      margin-right: 0;
      }

    &--small-margin {
      width: 500px;
      margin-bottom: 17px;
    }
  }

  .form__radio {

    &:checked + .form__label--radio::after {
      top: 0;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  .form__checkbox {

    &:checked + .form__label--checkbox::after {
      top: -5px;
      left: 19px;
      width: 11px;
      height: 22px;
    }
  }

  .form__label {
    font-size: 19px;
    line-height: 1;

    &--medium {
      margin-right: 25px;
    }

    &--radio,
    &--checkbox {
      padding-left: 81px;

      &:before {
        top: -15px;
        width: 48px;
        height: 48px;
      }
    }
  }

  .form__input {
    flex-grow: 1;
    padding-left: 20px;
    font-size: 19px;

    &--full-width {
      width: 480px;
      background-color: #f1f1f1;
    }
  }

  .form__icon-phone,
  .form__icon-mail {
    top: 11px;
    right: 11px;
  }

  .form__textarea {
    width: 465px;
    padding-left: 15px;
    font-size: 19px;
  }

  .form__actions-wrapper {
    .container(668px; 50px);
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__required-fields {
    order: 2;
    font-size: 17px;
    line-height: 1.84;
  }

  .form__btn {
    order: 1;
    width: 230px;
  }
}

@media @desktop-width {
  .form {
    margin-top: 140px;
  }

  .form__descr-wrapper {
    .container(1050px; 50px);
  }

  .form__descr {
    width: 700px;
    margin-bottom: 57px;
    margin-left: 175px;
  }

  .form__fieldset {
    margin-bottom: 63px;

    &--medium-margin {
      margin-bottom: 47px;
    }

    &--small-margin {
      margin-bottom: 45px;
      padding-bottom: 20px;
    }

    &--tiny-margin {
      margin-bottom: 0;
    }

    &--email {
      margin-bottom: 55px;
    }

    &--textarea {
      margin-bottom: 0;
    }

    &--stretched {
      margin-bottom: 0;
    }
  }

  .form__fieldset-wrapper {

    &--full-width {
      .container(1050px; 50px);
    }
  }

  .form__fieldset-title {
    width: 112px;
    margin-left: 63px;
  }

  .form__list {

    &--medium {
      width: 800px;
    }
  }

  .form__item {

    &--medium {
      margin-bottom: 50px;
    }

    &--column {
      margin-right: 24px;
    }

    &--column:nth-child(2n+2) {
      margin-right: 24px;
      }

    &--small-margin {
      width: 700px;
      margin-bottom: 18px;
    }
  }

  .form__input {

    &--full-width {
      width: 680px;
    }
  }

  .form__icon-phone,
  .form__icon-mail {
    right: -5px;
  }

  .form__textarea {
    margin-bottom: 50px;

    &--full-width {
      width: 665px;
    }
  }

  .form__actions-wrapper {
    .container(1050px; 50px);
  }

  .form__btn {
    margin-left: 175px;
  }

  .form__required-fields {
    margin-right: 180px;
  }
}
