.recalls {
  margin-bottom: 88px;
}

.recalls__wrapper {
  .container(260px; 30px);
  display: flex;
  flex-direction: column;
}

.recalls__title {
  margin-bottom: -5px;
  order: 1;
}

.recalls__item {
  order: 2;
  width: 100%;
  margin-bottom: 35px;
  margin-left: 0;
}

.recalls__text {
  width: 100%;
  margin-bottom: 31px;
  margin-left: 0;
  line-height: 2;
}

.recalls__author {
  font-family: @open-sans-bold;
  font-size: 18px;
  font-style: normal;
}

.recalls__email {
  font-size: 17px;
  line-height: 1.76;
}

.recalls__btn {
  order: 4;
}

@media @tablet-width {
  .recalls {
    margin-bottom: 150px;
  }

  .recalls__wrapper {
    .container(668px; 50px);
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 42px;
    background-repeat: no-repeat;
    background-image: url('../img/recalls/review@1x.jpg');
    background-size: 350px auto;

    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
      background-image: url('../img/recalls/review@2x.jpg');
    }
  }

  .recalls__btn {
    align-self: baseline;
    order: 2;
    width: 170px;
    margin-left: auto;
  }

  .recalls__title {
    align-self: baseline;
    order: 1;
    margin-bottom: 20px;
    margin-left: -5px;
    font-size: 43px;
  }

  .recalls__item {
    order: 3;
  }

  .recalls__text {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 65px;
  }

  .recalls__footer {
    display: flex;
    flex-direction: column;
  }

  .recalls__author {
    font-size: 17px;
  }
}

@media @desktop-width {
  .recalls {
    margin-bottom: 247px;
  }

  .recalls__wrapper {
    .container(1050px; 50px);
    padding-top: 28px;
    padding-bottom: 50px;
    background-position: 50px 0;
  }

  .recalls__title {
    margin-left: 170px;
    margin-bottom: 17px;
    font-size: 53px;
    line-height: 1.08;
  }

  .recalls__item {
    margin-left: 175px;
  }

  .recalls__text {
    margin-bottom: 45px;
  }
}
