.advantages {
  position: relative;
  margin-bottom: 16px;
}

.advantages__wrapper {
  .container(260px);
}

.advantages__title {
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.2;
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  font-family: @open-sans-bold;
  font-size: 17px;
  line-height: 1.18;
  color: @title-color;
}

.advantages__item {
  position: relative;
  width: 250px;
  margin-bottom: 23px;
  padding-top: 60px;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &--feature-1 {

    &::before {
      width: 32px;
      height: 38px;
      background-image: url('../img/advantages/icon-feature-1.svg');
    }
  }

  &--feature-2 {

    &::before {
      width: 47px;
      height: 27px;
      background-image: url('../img/advantages/icon-feature-3.svg');
    }
  }

  &--feature-3 {

    &::before {
      width: 33px;
      height: 28px;
      background-image: url('../img/advantages/icon-feature-5.svg');
    }
  }

  &--feature-4 {

    &::before {
      width: 35px;
      height: 34px;
      background-image: url('../img/advantages/icon-feature-2.svg');
    }
  }

  &--feature-5 {

    &::before {
      width: 55px;
      height: 23px;
      background-image: url('../img/advantages/icon-feature-4.svg');
    }
  }

  &--feature-6 {

    &::before {
      width: 33px;
      height: 32px;
      background-image: url('../img/advantages/icon-feature-6.svg');
    }
  }
}


@media @tablet-width {
  .advantages {
    margin-bottom: 28px;

    &::before {
      content: '';
      position: absolute;
      top: -70px;
      z-index: 5;
      width: 100%;
      height: 17px;
      background-image: url('../img/md-zigzag-line.svg');
    }
  }

  .advantages__wrapper {
    .container(668px; 50px);
  }

  .advantages__title {
    margin-bottom: 42px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 1.16;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 1.1;
  }

  .advantages__item {
    width: 300px;
    margin-right: 35px;
    margin-bottom: 52px;
  }

  .advantages__item:nth-child(1) {
    order: 1;
  }

  .advantages__item:nth-child(2) {
    order: 3;
  }

  .advantages__item:nth-child(3) {
    order: 5;
  }

  .advantages__item:nth-child(4) {
    order: 2;
  }

  .advantages__item:nth-child(5) {
    order: 4;
  }

  .advantages__item:nth-child(6) {
    order: 6;
  }

  .advantages__item:nth-child(n+4) {
    margin-right: 0;
  }
}

@media @desktop-width {
  .advantages {
    margin-bottom: 60px;

    &::before {
      top: -80px;
      height: 23px;
      background-image: url('../img/bg-zigzag-line.svg');
    }
  }

  .advantages__wrapper {
    .container(1050px; 50px);
  }

  .advantages__title {
    margin-left: 170px;
    font-size: 53px;
    line-height: 1.08;
  }

  .advantages__list {
    margin-left: 175px;
    align-items: stretch;
  }

  .advantages__item:nth-child(n+4) {
    margin-left: 18px;
  }
}
