.header-logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-top: 21px;
  margin-bottom: 22px;
  margin-left: 28px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.header-logo__icon {

  &--tablet,
  &--desktop {
    display: none;
  }
}

.footer-logo {
  display: none;
}

@media @tablet-width {
  .header-logo {
    order: 1;
    width: 112px;
    height: 46px;
    margin-left: 0;
  }

  .header-logo__icon {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .footer-logo {
    display: block;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: rgba(81, 196, 178, 0.3);
    }

    &--active {

      &:hover,
      &:active {
        fill: @title-color;
        opacity: 1;
      }
    }
  }
}

@media @desktop-width {
  .header-logo {
    order: 2;
    width: 148px;
    height: 72px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 40px;
  }

  .header-logo__icon {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
