.logo {

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 78px;
    border-bottom: 1px solid #ececec;
  }

  &--footer {
    display: none;
  }
}

@media @tablet-width {

  .logo {

    &--header {
      width: 90px;
      height: 88px;
      order: 1;
      border: none;
    }

    &--footer {
      display: block;
    }
  }
}

@media @desktop-width {

  .logo {

    &--header {
      order: 2;
      margin-left: 50px;
    }
  }
}
