.logo {

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    min-height: 78px;
    margin: auto;
  }

  &--footer {
    display: none;
  }
}

.logo__link {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-width {
  .logo {

    &--header {
      width: 113px;
      max-height: 88px;
      margin-left: 0;
      order: 1;
      border: none;
    }

    &--footer {
      display: block;
      margin-top: 50px;
      margin-bottom: auto;
    }
  }

  .logo__link--footer {

    &:hover .logo__svg {
      fill: @accent-color;
    }

    &:active .logo__svg {
      opacity: 0.3;
    }
  }
}

@media @desktop-width {
  .logo {

    &--header {
      order: 2;
      width: 149px;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
