.social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 260px;
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
}

@media @tablet-width {
  .social {
    margin-right: 0;
    margin-left: 80px;
    border: none;
  }
}
