.main-nav {
  position: relative;
  z-index: 5;
  font-family: @open-sans-bold;
  font-size: 17px;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 20px;
  height: 14px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  .list-reset();
}

.main-nav__item {
  display: flex;
  min-height: 78px;
  line-height: 1.4;
  text-align: center;
  border-bottom: 2px solid #ececec;
}

.main-nav__item:nth-child(n+3) {
  display: none;
}

.main-nav__link {
  display: block;
  margin: auto;
  text-align: center;
  color: @title-color;
}

.main-nav__user-list {
  display: flex;
  flex-direction: column;
  .list-reset();
}

.main-nav__user-item {
  display: flex;
  min-height: 78px;
  min-height: 78px;
  line-height: 1.4;
  text-align: center;
  border-bottom: 2px solid #ececec;
}


@media @tablet-width {

  .main-nav {
    width: auto;
    margin: 0;
    margin-left: auto;
  }

  .main-nav__wrapper {
    .container();
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
  }

  .main-nav__item {
    width: 175px;
    min-height: 59px;
  }

  .main-nav__link {
    margin-left: 0;
  }

  .main-nav__user-list {
    flex-direction: row;
    align-self: flex-end;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__user-item {
    border: none;

    &:last-child {
      padding-left: 83px;
    }
  }

  .main-nav__link--hidden {
    width: 83px;
    height: 78px;
    border-right: 2px solid #ececec;
    border-left: 2px solid #ececec;
    font-size: 0;
  }
}

@media @desktop-width {

  .main-nav__list {
    justify-content: space-between;
  }

  .main-nav__item:nth-child(n+3) {
    display: block;
  }
}
