.main-nav {
  position: relative;
  z-index: 5;
  font-family: @open-sans-bold;
  font-size: 17px;
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 20px;
  height: 14px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  .list-reset();
}

.main-nav__item {
  display: flex;
  align-items: flex-start;
  min-height: 78px;
  line-height: 1.4;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  margin: auto;
  text-align: center;
  color: @title-color;
}

@media @tablet-width {

  .main-nav {
    order: 3;
    font-size: 15px;
    min-height: 59px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    align-items: flex-start;
    order: 2;
    width: 334px;
  }

  .main-nav__item {
    width: 175px;
    min-height: 59px;
  }

  .main-nav__link {
    margin-left: 0;
  }

  .main-nav__user-list {
    flex-direction: row;
    align-self: flex-end;
  }

  .main-nav__item {
    border: none;
  }
}

@media @desktop-width {

  .main-nav {
    order: 1;
    font-size: 17px;
  }

  .main-nav__list {
    width: 440px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    min-height: 88px;
    margin-right: 45px;
  }
}
