.user-block {
  display: flex;
  flex-direction: column;
  font-family: @open-sans-bold;
  font-size: 17px;
}

.user-block__list {
  display: flex;
  flex-direction: column;
  .list-reset();
}

.user-block__item {
  display: flex;
  min-height: 78px;
  line-height: 1.4;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.user-block__link {
  margin: auto;
  color: @title-color;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media @tablet-width {

  .user-block {
    order: 2;
    margin-left: auto;
  }

  .user-block__list {
    flex-direction: row;
    width: 350px;
  }

  .user-block__item {
    border: none;
  }

  .user-block__link {

    &--hidden {
      position: relative;
      min-height: 88px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
      font-size: 0;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-9px, -9px);
        background-image: url('../less/blocks/user-block/icon-search.svg');
      }

      &:hover::before {
        background-image: url('../less/blocks/user-block/icon-search-green.svg');
      }

      &:active::before {
        opacity: 0.3;
      }
    }

    &--cart {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 30px;
        width: 21px;
        height: 19px;
        background-image: url('../less/blocks/user-block/icon-cart.svg');
      }

      &:hover::before {
        background-image: url('../less/blocks/user-block/icon-cart-green.svg');
      }

      &:active::before {
        opacity: 0.3;
      }
    }
  }

  .user-block__link {
    padding-left: 82px;
  }
}
