.contacts {
  margin-bottom: 30px;

  &__list-wrapper {
    .container();
  }

  &__title {
    font-size: 18px;
    line-height: 1.7em;
  }

  &__property-list {
    display: flex;
    flex-direction: column;
  }

  &__property-item {
    display: flex;
    padding-bottom: 30px;
    line-height: 2em;
  }

  &__property-name {
    width: 60px;
  }

  &__property-value {
    width: 200px;
    margin: 0;
  }
}

@media @tablet-width {

  .contacts {

    .btn {
      margin: 0 auto;
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 1.16em;
  }

  .contacts__property-list {
    flex-direction: row;
  }

  .contacts__property-item {
    margin-right: 70px;
  }
}

@media @desktop-width {

  .contacts {
    .container();
    position: relative;
    margin-bottom: 50px;
    .btn {
      margin-left: 175px;
    }
  }

  .contacts__title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 1.08em;
  }

  .contacts__property-list {
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 175px;
  }
}














































